

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #693f00, #463029);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

.recover-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 30px;
    background-color: #f8f8f8;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-family: Arial, sans-serif;
  }
  
  .gmail {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .email {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #aaa;
  }
  
  .submit {
    padding: 10px 20px;
    background-color: #5D4037;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submit:hover {
    background-color: black;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  .success-message {
    color: green;
    margin-top: 10px;
  }
  